---
import { Icon } from "astro-icon/components"
import type { Item } from "~/lib/data"
import Tag from "./Tag.astro"

type Props = {
  item: Item
}

const { item } = Astro.props
const indicatorLabel = "New item"
---

<article id={item.slug} class="space-y-4 pb-8 pt-4">
  <a href={`#${item.slug}`} class="flex gap-x-4">
    <h4 class="flex-1 text-[12vw] font-bold leading-none xs:text-6xl">
      {item.name}
    </h4>
    <Icon
      class="invisible h-5 w-5 flex-none self-center"
      name="star"
      title={indicatorLabel}
      aria-label={indicatorLabel}
    />
  </a>
  <ul class="flex flex-wrap items-center gap-2">
    {
      item.tags.map((t) => (
        <li>
          <Tag tag={t} />
        </li>
      ))
    }
  </ul>
</article>

<script>
  import { inView } from "motion"
  import { hasBeenViewed, setViewed } from "~/lib/viewed"

  document.addEventListener(
    "astro:page-load",
    () => {
      document.querySelectorAll("article").forEach((article) => {
        if (hasBeenViewed(article.id)) return

        const stop = inView(article, () => {
          setViewed(article.id)
          stop()
        })

        const star = article.querySelector("svg")!
        // TODO: this should be an animation
        star.classList.remove("invisible")
      })
    },
    { once: true },
  )
</script>
