---
import { Sprite } from "astro-icon"
import type { Item, Tag as TagType } from "~/lib/data"
import Tag from "./Tag.astro"

type Props = {
  item: Item
  tag?: TagType
}

const { item, tag } = Astro.props
const indicatorLabel = "New item"
---

<article id={item.slug} class="space-y-4 pt-4 pb-8">
  <a href={`#${item.slug}`} class="flex gap-x-4">
    <h4 class="flex-1 text-[12vw] font-bold leading-none xs:text-6xl">
      {item.name}
    </h4>
    <Sprite
      class="invisible h-5 w-5 flex-none self-center"
      name="star"
      title={indicatorLabel}
      aria-label={indicatorLabel}
    />
  </a>
  <ul class="flex flex-wrap items-center gap-2">
    {
      tag ? (
        <li>
          <a href="/">
            <Tag tag={tag} />
          </a>
        </li>
      ) : (
        item.tags.map((tag) => (
          <li>
            <a href={tag.slug}>
              <Tag tag={tag} />
            </a>
          </li>
        ))
      )
    }
  </ul>
</article>
