---
import { ViewTransitions } from "astro:transitions"
import type { Tag } from "~/lib/data"
import "~/style/index.css"

export type Props = {
  tag?: Tag
}

const { tag } = Astro.props
const title = `Animalia${tag ? ` – ${tag.name}` : ""}`
const description =
  "Astronomically good pet name inspiration from yours truly, every now and then."
---

<!doctype html>
<html
  lang="en"
  class="scroll-p-4 scroll-smooth bg-black selection:bg-white selection:text-black"
  style={{ color: tag?.color || "#F8FBFF" }}
  transition:animate="none"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" name="description" content={description} />
    <meta property="og:site_name" content="Animalia" />
    <meta property="og:url" content={Astro.url} />
    <meta name="language" content="en" />
    <meta name="author" content="Carlo, hello@carlo.works" />
    <meta name="canonical" property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/og-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content={Astro.url} />
    <meta name="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/og-image.jpg" />
    <ViewTransitions />
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="flex-1 py-8">
      <slot />
    </main>
  </body>
</html>
